/* ===== FA - ICONS ===== */
.fa, .fas{
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover, .fas:hover{
    opacity: 0.7;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 10px;
    flex-wrap: wrap;
}

.fa-github {
    background: #000000;
    color: white;
    border-radius: 50%;
}

.fa-envelope {
    background: #000000;
    color: white;
    border-radius: 50%;
}

.fa-spinner {
    background: white;
    color: black;
    border-radius: 50%;
}