.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    width: 100vw;
}

.heading {
    grid-area: 1 / 1 / span 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 23px;
}

.menu {
    grid-area: 2 / 1 / span 1 / span 2;
    background: #646464;
    position: sticky;
    top: 0;
    display: flex;
    gap: 0;
}

.menu_button {
    background-color: #646464;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
}

.menu_button_current {
    background-color: #7c7c7c;
}

.menu_button:hover {
    background-color: whitesmoke;
    color: black;
}

.side {
    grid-area: 3 / 1 / span 1 / span 1;
    background: lightgray;
}

.content {
    grid-area: 3 / 2 / span 1/ span 1;
    background: whitesmoke;
    padding: 5px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
}